.navigation{
    margin: auto;
    height: 50%;
    width: 50%;
    
    display: flex;
    border: solid 1px aliceblue;
    border-radius: 30%;
}

.navigation a {
    text-decoration: none;
    color: aliceblue;
    padding: 50px;

}

.intro{
    color: aliceblue;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    word-spacing: 10px;
    
}

.gif{
    display: flex;
    justify-content: center;
    align-items: center;
}

.information{
    color: aliceblue;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}
